Source: glgames
Section: games
Priority: optional
Maintainer: Michael Nagel <ubuntu@nailor.devzero.de>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.2
Homepage: http://nailor.devzero.de/code/glgames/

Package: glgames
Architecture: all
Depends: ${misc:Depends}, ruby1.8, libopengl-ruby1.8, libsdl-ruby1.8
Description: collection of games 'squeeze' and 'tictactoe'
 glgames is a collection of games, including the game 'squeeze' where you
 have to fill your screen with inflating bubbles.
